{% comment %}
<!--
  Blog Hero

  This partial is for the blog hero space that is currently being used in the
  site's blog/adventure pages.  It can easily be included in other layouts and
  pages if a blog hero space is needed elsewhere in the site.

-->
{% endcomment %}

<section class="blog-right section pad-top10 pad-bot10"
         style="background-image: url('{{ page.blog-image }}'); background-size: 100; background-position: center 10%;">
    <div class="container">
        <div class="row mar-bot40 mar-top40">

        </div>
    </div>
</section>