{% comment %}
<!--
  Case Study Gray Hero

  This partial is for the case study gray hero space that is currently being
  used in the amber taxi booking app page.  It can easily be included in
  other layouts and pages if a similar hero space is needed elsewhere in the
  site.

-->
{% endcomment %}

<section id="" class="case-study-1 section pad-top40 mar-top40 pad-bot10" style="margin-top: 80px;">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-sm-3">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">{{ page.case-study-gray-hero.title }}</h2>

                    <p>{{ page.case-study-gray-hero.desc }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

