{% comment %}
<!--
  Clients Section

  This partial is for areas on the site that include a list of clients.
  Currently this partial is included on the homepage

-->
{% endcomment %}

{% assign clients = site.meta-clients %}

{% assign content = site.data.miscellaneous-content.clients %}

<section class="section bg-white hidden-xs hidden-sm">
  <div class="container">
    <div class="row hidden">
      <div class="section-header">
        <h2 class="section-heading animated" data-animation="bounceInUp">{{ clients.header }}</h2>

        <p>{{ clients.desc }}</p>

      </div>
    </div>

    {% for client in clients %}

      {% if forloop.index == 1 or forloop.index == 6 %}
      <div class="row mar-bot40 align-center">

        {% comment %}
          <!-- Calculating column offset based on row size -->
        {% endcomment %}
        {% assign count = forloop.length - forloop.index0 %}
        {% if forloop.rindex0 < 5 %}
          {% assign col_offset = forloop.rindex | times: 2 %}
          {% assign col_offset = 12 | minus: col_offset %}
          {% assign col_offset = col_offset | divided_by: 2 %}
        {% else %}
          {% assign col_offset = 1 %}
        {% endif %}

      {% endif %}

        <div class="{% if forloop.index == 1 or forloop.index == 6 %}col-md-offset-{{ col_offset }} {% endif %}col-md-2">
          <img src="/images/client_logos/{{ client.image }}" class="grayscalex" alt="{{ client.title }}">
        </div>


      {% if forloop.index == 5 or forloop.last %}
      </div>
      {% endif %}

    {% endfor %}

  </div>
</section>