{% comment %}
<!--
  Employees Section

  This partial is for the employees area.  It can be included on any page or
  layout that needs an employees section. The data for this section is coming
  from the _meta-team-members collection.  Currently, this grid is used on the
  about page.

-->
{% endcomment %}

{% assign employees = site.meta-team-members %}

<!-- about -->
<section id="section-about" class="section appear clearfix bg-white">
  <div class="container">

    <div class="row align-center mar-bot40">

    {% for exec in employees %}

      {% if exec.is-executive %}

        <div class="col-md-6">
          <div class="team-member">
            <figure class="member-photo"><img src="{{ exec.image }}" alt="{{ exec.title }}" /></figure>
            <div class="team-detail">
              <h4>{{ exec.title }}
                {% if exec.linkedin-profile %}
                  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                  <script type="IN/MemberProfile" data-id="{{ exec.linkedin-profile }}" data-format="hover" data-proofer-ignore></script>
                {% endif %}
              </h4>
              <span>{{ exec.job-title }}</span>
              {{ exec }}
            </div>
          </div>
        </div>

      {% endif %}

    {% endfor %}

    </div>

  {% assign counter = 0 %}

  {% for employee in employees %}

    {% if employee.is-executive == false %}

      {% assign counter = counter | plus: 1 %}

      {% if counter == 1 or counter == 5 %}
        <div class="row align-center mar-bot40">
      {% endif %}

          <div class="col-md-3">
            <div class="team-member">
              <figure class="member-photo"><img src="{{ employee.image }}" alt="{{ employee.title }}" /></figure>
              <div class="team-detail">
                <h4>{{ employee.title }}</h4>
                <span>{{ employee.job-title }}</span>
              </div>
            </div>
          </div>

      {% if counter == 4 or forloop.last %}
        </div>
      {% endif %}

    {% endif %}

  {% endfor %}

  </div>
</section>