{% comment %}
<!--
  Jobs Divider Section

  This partial is for the divider section that appears on jobs pages.

-->
{% endcomment %}

<section class="featured bg-black" style="height: 500px; background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1600&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/BB8.jpg); background-position: 0%; background-size: 100%; background-repeat: no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="align-center">

                </div>
            </div>
        </div>
    </div>
</section>