{% comment %}
<!--
  Orange Hero

  This partial is for the orange hero space that is currently being used in the
  expertise page.  It can easily be included in other layouts and pages if a
  oragne hero space is needed elsewhere in the site.

-->
{% endcomment %}

<section class="featured section" style="background: orangered">
    <div class="container">
        <div class="row mar-bot10">
            <div class="col-md-6 col-md-offset-3 align-center">
                <h1 class="slogan color-white">{{ page.hero-title }}</h1>

                <p>{{ page.hero-desc }}</p>
            </div>
        </div>
    </div>
</section>