<section class="featured section bg-orange pad-top0" style="height: 700px; background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1400&refresh=2592003&url=https://pocketworks-website.s3.amazonaws.com/{{ page.advice.bg-img }}); background-position: 0%; background-size: cover; background-repeat: no-repeat">
  <div class="container">
      <div class="row mar-bot40">


          <div class="col-md col-md-8 col-md-offset-2 col-xs-12 align-center">
                  <!--<p>You could be working with a technology specialist who can help your business get with the times.</p>-->

                  <h1 class="slogan color-white" style="line-height: 1.4em">We create mobile success stories</h1>

          </div>

      </div>
      <div class="row pad-top40">
          <div class="col-sm-offset-2 col-sm-4 align-center">
              <span class="glyphicon glyphicon-phone-alt"></span>
              <br><span style=""><b><a href="tel:0113 400 1454">0113 400 1454</a></b></span>
              <br><a href="mailto:hello@pocketworks.co.uk">hello@pocketworks.co.uk</a>
          </div>




          <div class="col-sm-4 align-center">
              <span class="glyphicon glyphicon-map-marker"></span>
              <br><b>Leeds City Centre, UK</b>
              <br><a href="/contact">Driving directions</a>
          </div>


      </div>
  </div>
</section>
