{% comment %}
<!--
  Product Applications Section

  This partial is for the grey, 2-column "applications" section that appears on
  product pages.  The data for this section is coming from the
  meta-product-applications collection.

-->
{% endcomment %}

{% assign app_content = site.data.miscellaneous-content.products.[include.product][include.app-type] %}

{% assign apps = site.meta-product-applications | where:"application-type", include.app-type %}

<section class="pad-top40 pad-bot40" id="{{ app_content.id }}">
  <div class="container">

    <div class="row mar-bot20 mar-top35">
      <div class="section-header">
        <h2 class="section-heading animated">{{ app_content.header }}</h2>
        {% if app_content.desc %}
        <p>{{ app_content.desc }}</p>
        {% endif %}
      </div>
    </div>

    {% for app in apps %}

      {% if forloop.index == 2 or forloop.index == 4 or forloop.index == 6 %}
      <div class="row mar-bot10">
      {% endif %}

        <div class="col-sm-6 align-center">
          {{ app.content | markdownify }}
        </div>

      {% if forloop.index == 2 or forloop.index == 4 or forloop.index == 6 or forloop.last %}
      </div>
      {% endif %}

    {% endfor %}

    {% if app_content.final-btn or app_content.final-link %}
    <div class="row">
      <div class="container align-center">
        {% if app_content.final-btn %}
          <p><a class="btn btn-lg btn-cta" href="{{ app_content.final-btn.btn-url }}">{{ app_content.final-btn.btn-text }}</a></p>
        {% endif %}
        {% if app_content.final-link %}
          <a href="{{ app_content.final-link.link-url }}">{{ app_content.final-link.link-text }}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div>
</section>