{% comment %}
<!--
  Product Steps Section

  This partial is for the stpes section that appears on product pages.  The
  data for this section is coming from the _data/product-applications.yml file.
{% assign steps = site.data.products[include.product][include.section] %}

-->
{% endcomment %}

{% assign app_content = site.data.miscellaneous-content.products.[include.product][include.step-type] %}

{% assign steps = site.meta-product-steps | where:"step-type", include.step-type %}

<section class="section bg-white" id="{{ app_content.id }}">
  <div class="container">

    {% if app_content.header %}
    <div class="row section-header pad-bot40">
        <h2 class="section-heading">{{ app_content.header }}</h2>
    </div>
    {% endif %}

    <div class="row align-center">

    {% for step in steps %}

      <div class="col-md-3">
        <div class="row mar-bot20">
          <img src="{{ step.image | prepend: site.baseurl }}" alt="step graphic">
        </div>
        <div class="row">
          {% if include.show-badge-nums %}
            <span class="badge">{{ forloop.index }}</span>
          {% else %}
            {{ forloop.index }}.
          {% endif %}
          {{ step }}
        </div>
      </div>

    {% endfor %}

    </div>

  </div>
</section>
