{% comment %}
<!--
  Sectors Section

  This partial is for the "sectors" area.  It can be included on any page or
  layout that needs a sectors section. The data for this section is coming
  from the _data/sectors.yml file.  Currently, this grid is used on the our
  work page.

-->
{% endcomment %}

{% assign sectors = site.meta-sectors %}


<section id="section-verticals" class="section clearfix bg-white">
  <div class="container">

    <div class="row mar-bot40">
      <div class="section-header">
        <h2>Areas of Expertise</h2>
      </div>
    </div>
    <div class="row align-center mar-bot10">


      {% for sector in sectors %}

      <div class="col-md-3">
        <div class="team-member">
          <figure class="member-photo"><img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=800&url=https://pocketworks-website.s3.amazonaws.com/{{ sector.image }}" alt="{{ sector.title}} graphic" /></figure>
          <div class="team-detail">
            {{ sector }}
          </div>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>
</section>
