{% comment %}
<!--
  Two Col Layout

  This partial is for the 2 col layout that is currently being used in the
  jobs page.  It can easily be included in other layouts and pages if a similar
  layout is needed elsewhere in the site.

-->
{% endcomment %}

{% assign roles = site.meta-job-role-details %}

<section class="section">
  <div class="container">
    <div class="row">
      {% for role in roles %}
      <div class="col-md-6">
        <h2>{{ role.title }}...</h2>
        {{ role }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
