{% comment %}
<!--
  White Hero

  This partial is for the white hero space that is currently being used in the
  site's homepage.  It can easily be included in other layouts and pages if a
  white hero space is needed elsewhere in the site.

-->
{% endcomment %}

{% assign hero_content = site.data.header-footer-content.global %}

<section class="featured bg-white">
  <div class="container">
    <div class="row mar-bot20">
      <div class="col col-md-offset-2 col-md-8 align-center mar-bot20" >

        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=256&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/{{ include.hero_img }}" alt="homepage hero image"/>

      </div>

      <div class="col-md-8 align-center col-md-offset-2">

        <h1 class="slogan color-white" style="line-height: 1.4em;">{{ site.title }}</h1>
        <h2 class="slogan color-white">{{ hero_content.tagline }}</h2>

      </div>

    </div>
  </div>
</section>