---
layout: default
---

{% if page.hero-image %}
  {% assign img = "https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=800&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/" | append: page.hero-image %}
{% else %}
  {% assign sliced_url = page.image | slice: 0, 4 %}
  {% if sliced_url == "http" %}
    {% assign img = page.image %}
  {% else %}
    {% assign img = "https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=800&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/" | append: page.image %}
  {% endif %}
{% endif %}

<section class="blog-right section pad-top10 pad-bot10" style="background-image: url({{ img }}); background-size: 100; background-position: center 10%">
  <div class="container">
    <div class="row mar-top40"></div>
  </div>
</section>

<section class="section bg-white case-study align-left" style="padding-bottom: 0px">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="align-left">{{ page.title }}</h1>
        <h2>{{ page.tagline }}</h2>
        <h3>Client: {% if page.client-article %}{{ page.client-article }}{% else %}{{ page.client }}{% endif %}</h3>

      </div>
    </div>
    <hr>
  </div>

</section>

<section class="section bg-white case-study align-left" style="padding-top: 0px">
  <div class="container">

    <div class="row">

      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <h3>The Challenge</h3>
        <p>{{ page.case-study-challenge }}</p>
      </div>
      <div class="col-md-4">
        <h3>The Outcome</h3>
        <p>{{ page.case-study-outcome }}</p>

      </div>

    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <hr>
    </div>
    </div>
</div></section>


<section class="section bg-white case-study align-left" style="padding-top: 0px">
  <div class="container">
    <div class="row mar-bot40 ">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</section>
