---
layout: default
---

{% assign contact = site.data.contact-information.contact-info %}

{% include feat-blue.html %}


<!-- contact -->
<section id="section-contact" class="section appear clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h2>{{ contact.location.header }}</h2>
        <table class="table table-striped">

          {% for info in contact.location.data %}
          <tr>
            <th>{{ info.label }}</th>
            <td>
              {% if info.label == "Email" %}
                <a href="{{ info.value }}">{{ info.value }}</a>
              {% else %}
                {{ info.value }}
              {% endif %}
              }
            </td>
          </tr>
          {% endfor %}

        </table>

        {{ content }}

      </div>
    </div>

  </div>
</section>

<!-- map -->
<section id="section-map" class="clearfix">
    <div id="map"></div>
</section>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script type="text/javascript">

    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var latLng = new google.maps.LatLng(53.797583, -1.554466);
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom:15,

            // The latitude and longitude to center the map (always required)
            center: latLng // Pocketworks HQ

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
//            styles: [
//                {featureType: "all", elementType: "all", stylers: [
//                    {invert_lightness: false},
//                    {saturation: 80},
//                    {lightness: 50},
//                    {gamma: 0.9},
//                    {hue: "#F06034"}
//                ]    }
//            ]
        }



        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        if(! mapElement) return;
        // Create the Google Map using out element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: 'Pocketworks'
        });
    }
</script>