---
layout: default
---

{% include orange-home-hero.html hero_img=page.hero-img %}

{% comment %}<!-- Get Telephone & Email information from global contact info -->{% endcomment %}
{% assign contact_info = site.data.contact-information.contact-info.location.data %}
{% assign tele = "" %}
{% assign email = "" %}

{% for item in contact_info %}
  {% if item.label == "Email" %}
    {% assign email = item.value %}
  {% endif %}
{% endfor %}

<section class="section" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="align-center">

                  {% if page.content contains '<!--more-->' %}
                    {{ page.content | split:'<!--more-->' | first | replace: 'global_email', email | markdownify }}
                  {% else %}
                    {{ content | replace: 'global_email', email | markdownify }}
                  {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>



{% include grid-section.html view_all="true" top_padding="true" bg_white="true" %}

<section class="section" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="align-center">
            <h1>{{ page.quote.blurb }}<br/><small>{{ page.quote.author }}</small></h1>
        </div>
    </div>
    </div>
  </div>
</section>

<section class="section bg-black pad-top0" style="height: 500px; background-image: url(https://pocketworks-website.s3.amazonaws.com/{{ page.advice.bg-img }}); background-position: 0%; background-size: 100%; background-repeat: no-repeat">
  <div class="container">
    <div class="row">
      <div class='col-xs-12 col-sm-6 col-sm-offset-6 card' style="min-height:300px">
        <div class="col-xs-12 surround" style="min-height:320px">
          <div class="row content">
            <br/>
            <h3>{{ page.advice.header }}</h3>
            <h2><a href="{{ page.advice.url | prepend: site.baseurl }}">{{ page.advice.sub-header }}</a></h2>
            <p>{{ page.advice.desc }}</p>

            <a href="{{ page.advice.url | prepend: site.baseurl }}" class="btn btn-border">{{ page.advice.link-text }}</a>
            <br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include clients.html %}

<!-- pocket insights section -->
<section id="" class="section clearfix bg-white">
<div class="container">
  <div class="row mar-bot40">

    {% if page.content contains '<!--more-->' %}
      {{ page.content | split:'<!--more-->' | last | replace: 'global_email', email | markdownify }}
    {% else %}
      {{ content | replace: 'global_email', email | markdownify }}
    {% endif %}

  </div>
</div>
</section>
