---
layout: default
---

<section class="featured bg-gray">
  <div class="container">
    <div class="row mar-bot40">

      <div class="col-sm-offset-0 col-sm-6">
        <img src="{{ page.hero-image | prepend: site.baseurl }}" class="img-responsive" alt="hero img graphic">
      </div>

      <div class="col-sm col-sm-6">
      {{ content }}
      </div>

    </div>
  </div>
</section>

{% include product-quote.html product="pocketmedia" %}

{% include product-divider.html img="/images/pocketmedia/people_using.jpeg" %}

{% include product-steps.html product="pocketmedia" section="example" %}

{% include product-applications.html product="pocketmedia" app-type="pocketmedia-features" %}

{% include product-coming-soon-white.html %}

{% include product-choice.html %}

{% include product-steps.html product="pocketmedia" section="process" %}

{% include product-pricing.html product="pocketmedia" %}
