{% comment %}
<!--
  Thank You Section

  This partial is for the form thank you section.  It can be included on any
  page or layout that needs a pocketmedia form section.  Currently, this grid
  is used on the pocketmedia demo sign up page.

-->
{% endcomment %}

<section class="featured bg-orange" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="align-center">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>